<nav class="top-navbar navbar fixed-top navbar-dark p-0 {{navbarColor}}">
  <div class="sidebar-toggle h-100">
    <a class="py-3 px-4 d-inline-block" (click)="toggleSidebar()" [attr.aria-expanded]="!isCollapsed" aria-controls="sidebar">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </a>
  </div>
  <div class="mr-auto pl-2">
    <a class="navbar-brand" routerLink="/">Aker</a>
  </div>
</nav>

<div id="content" class="d-flex w-100">
  <div id="sidebar" [ngClass]="[sidebarColor]" [ngbCollapse]="isCollapsed">
    <div class="sidebar-header">
      <nav role="navigation">
        <ul class="p-0">
          <a [routerLink]="['users']" class="text-decoration-none">
            <fa-icon [icon]="['fas', 'user']" class="mr-4"></fa-icon>
            <span>Users</span>
          </a>
          <a [routerLink]="['hosts']" class="text-decoration-none">
            <fa-icon [icon]="['fas', 'user']" class="mr-4"></fa-icon>
            <span>Hosts</span>
          </a>
          <a [routerLink]="['groups']" class="text-decoration-none">
            <fa-icon [icon]="['fas', 'user']" class="mr-4"></fa-icon>
            <span>Groups</span>
          </a>
          <a [routerLink]="['hostsgroups']" class="text-decoration-none">
            <fa-icon [icon]="['fas', 'user']" class="mr-4"></fa-icon>
            <span>Hosts Groups</span>
          </a>
        </ul>
      </nav> <!-- #sidebar-->
    </div>
  </div>
  <div class="w-100 mx-3 position-relative pb-4">
    <router-outlet></router-outlet>
    <footer class="d-flex align-items-center">
      <div class="mr-auto">
        <span class="h-100">Aker <fa-icon [icon]="['fas', 'copyright']"></fa-icon> 2020</span>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="scrollTop()"><fa-icon [icon]="['fas', 'angle-up']"></fa-icon></button>
      </div>
    </footer>
  </div>
</div>
